extends layout

block content
  if (!user)
    h3 Hi! Please login or register to get started!
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    h3 You are currently logged in as #{user.username}
    a(href="/logout") Logout
